{% load crispy_forms_filters %}

<!-- Button-trigger of modal window -->
<button type="button" class="btn btn-primary my-3 fs-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add note
</button>
<!-- Modal window -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">


                <form method="POST" class="note-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="save btn btn-primary">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



