{% extends "base.html" %}

{% block title %}Edit note{% endblock %}

{% block style %}
    .navbar-form-hidden {
    visibility: hidden
    }
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    {% load crispy_forms_filters %}
    <div class="container">
        <h2>Edit Note '{{ note.title }}'</h2>

        <form method="POST" class="note-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-primary edit-button"
                    name="id"
                    value={{ note.id }}>Update
            </button>
        </form>
    </div>
    {% block scripts %} {% endblock %}
{% endblock %}



