{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}
    To Do
{% endblock %}

{% block style %}
    .navbar-form-hidden, .greetings, .logout{
    visibility: hidden
    }
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="fs-1 fw-bold">Registration</div>
        <form method="post">
            <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a type="button" href="{% url "register" %}" class="btn btn-danger">Register</a>
        </form>
        {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}

    </div>
{% endblock %}