<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <p class="navbar-brand fw-bold fs-2">ToDo application</p>
        <form method="GET" class="d-flex navbar-form-hidden" role="search" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search by notes" aria-label="Search"
                   name="q">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>