<div class="container col-4">
    <div class="card border-info" style="border-width: 2px">
        <div class="card-body">
            <h5 class="card-title text-center bg-info rounded-pill p-3 edit-note-title ">{{ note.title }}</h5>
            <p class="card-text p-2">{{ note.text }}</p>
            <div class="card-footer text bg-secondary mb-2 rounded-pill edit-datetime">Created: {{ note.created_at }}</div>
            <div class="row">
                <form method="GET" class="note-form col text-start" action="/edit">
                    <button type="submit"
                            class="btn btn-primary edit-button"
                            name="id"
                            value="{{ note.id }}">
                        Edit
                    </button>
                </form>
                <form method="POST" class="note-form col text-end" action="/delete/">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-danger del-button"
                            name="delete"
                            value={{ note.id }}>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
